@import url('https://fonts.googleapis.com/css?family=Space+Mono');

/**
 * Main definitions
 */

body {
  font-family: 'Space Mono', serif;
  font-size: 14px;
}

.site_title, .s_article_header {
  font-size: 23px;
  font-style: italic;
  text-align: right;
  padding-right: 3%;
}

.site_foot_l {
  float: left;
  font-size: 10px;
  position: absolute;
  bottom: 0;
}

.site_foot_r {
  float: right;
  width: 20%;
}

.site_foot_r0 {
  display: flex;
  margin-bottom: 7px;
  flex-direction: row;
  justify-content: space-between;
}

.site_foot_r1 {
  font-size: 10px;
  text-align: right;
}

footer {
  position: relative;
  overflow: hidden;
}

.footnotes {
  padding-top: 15px;
}

.footnotes ol {
  font-size: 11px;
  margin-top: 0;
}

.post_list {
  margin: 15px 0 15px;
}

.c_italic {
  font-style: italic;
}

a {
  text-decoration: none;
}

hr.fancy_line {
  border: 0; 
  height: 1px;
  background-color: #D3D3D3;
  margin-top: 0px;
}


/**
 * Single page definitions
 */

.s_article_header_date {
  font-size: 11px;
}

code {
  font-family: 'Courier', sans-serif;
  font-size: 14px;
  background: #EFEFEF;
}

p code, li code, td code {
  padding: 2px 2px;
}

pre code {
  padding: 10px 10px;
  margin: 0px 10px;
}
